<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todo Application</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="bg-gray-100">
		<%- include('header.ejs') %>
		<form>
			<input type="text" placeholder="What's next?" required/>
			<input type="date"/>
			<button type="submit">Add</button>
		</form>
			<h5>Overdue</h5> (<span id="count-overdue"><%= allTodos.length %></span>)
			<%- include('todos.ejs') %>
			<h5>Due Today</h5>(<span id="count-due-today"><%= allTodos.length %></span>)
			<%- include('todos.ejs') %>
			<h5>Due Later</h5>(<span id="count-due-later"><%= allTodos.length %></span>)
			<%- include('todos.ejs') %>
			 <%- include('footer.ejs') %>
		</div>
	</body>
</html>
