<%
  const today = new Date();
  const isSameDate = (d1, d2) =>
    d1.getDate() === d2.getDate() &&
    d1.getMonth() === d2.getMonth() &&
    d1.getFullYear() === d2.getFullYear();

  const overdue = [];
  const dueToday = [];
  const dueLater = [];

  allTodos.forEach(todo => {
    const due = new Date(todo.dueDate);
    if (due < today && !isSameDate(due, today)) {
      overdue.push(todo);
    } else if (isSameDate(due, today)) {
      dueToday.push(todo);
    } else {
      dueLater.push(todo);
    }
  });
%>

<!-- Overdue Section -->
<h5>
  Overdue (<span id="count-overdue"><%= overdue.length %></span>)
</h5>
<ul>
  <% overdue.forEach(todo => { %>
    <li>
      <input type="checkbox" id="todo-<%= todo.id %>">
      <label for="todo-<%= todo.id %>"><%= todo.title %></label>
    </li>
  <% }) %>
</ul>

<!-- Due Today Section -->
<h5>
  Due Today (<span id="count-due-today"><%= dueToday.length %></span>)
</h5>
<ul>
  <% dueToday.forEach(todo => { %>
    <li>
      <input type="checkbox" id="todo-<%= todo.id %>">
      <label for="todo-<%= todo.id %>"><%= todo.title %></label>
    </li>
  <% }) %>
</ul>

<!-- Due Later Section -->
<h5>
  Due Later (<span id="count-due-later"><%= dueLater.length %></span>)
</h5>
<ul>
  <% dueLater.forEach(todo => { %>
    <li>
      <input type="checkbox" id="todo-<%= todo.id %>">
      <label for="todo-<%= todo.id %>"><%= todo.title %></label>
    </li>
  <% }) %>
</ul>

</div>
